[submodule "submodules/bam.core"]
	path = submodules/bam.core
	url = git@github.com:BryanApellanes/Bam.Core.git
[submodule "submodules/bamcli"]
	path = submodules/bamcli
	url = git@github.com:BryanApellanes/bamcli.git
[submodule "submodules/bam.net.data.dynamic"]
	path = submodules/bam.net.data.dynamic
	url = git@github.com:BryanApellanes/Bam.Net.Data.Dynamic.git
